.App {
  text-align: center;
  font-family: 'Surt';
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

.App-header {
  background-color: rgb(18,18,18);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(245, 245, 245);
}

.App-header-sub {
  color: #FF4642;
}

.App-link {
  color: #61dafb;
}

a {
  text-decoration: none;
}

.Vote-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FF4642;
  border: 0;
  font-family: 'Surt';
  color: rgb(245, 245, 245);
  width: 10em;
  height: 2em;
  border-radius: 10px;
  font-size: 1em;
  margin-bottom: 1em;
  cursor:pointer;

  transition: background-color 100ms linear;
}

.Vote-btn:hover {
  background-color: #ca2c29;
}
