.card-body {
    background-color: rgb(27, 27, 27);
    padding: 0.5em 2em;
    border-radius: 10px;
    line-height: 1em;
    margin-bottom: 0.5em;
    font-size: 0.65em;
    width: 70%;
    text-align: left;
    position: relative;
}

.timestamp {
    font-size: 0.55em;
    margin-bottom: 1em;
}

.title {
    font-size: 1em;
    line-height: 1.5em;
}

.highlight {
    color: #FF4642;
}

.green-highlight {
    color: #31f382;
}

.Top-list {
    position: absolute;
    right: 2em;
    bottom: 10px;
}

.foreground {
    color:rgb(77, 77, 77);
    font-size: 1em;
}


@keyframes shimmer {
    0%{
        background-position: -450px 0;
    }

    100%{
        background-position: 450px 0;
    }
}

@media only screen and (min-width: 768px) {
    .card-body {
    
    }
}

@media only screen and (min-width: 992px) {
    .card-body {
    

    }
}

@media only screen and (min-width: 1200px) {
    .card-body {
        width: 40%;
    }
}

@media only screen and (min-width: 1920px) {
    .card-body {
    
    }
}